<!-- This is the HTML file for the Add User webpage -->
<!DOCTYPE html>
<head>
    <title>Add User Webpage</title>
</head>
<body>
    <h1>Enter User Information</h1>

    <!-- Create a form where users can enter their name, password, and email -->
	<form action="" method="POST" novalidate>
	
	<!--Ensure that Cross-Site Request Forgery protection is enabled --> 
    {{form.hidden_tag()}}
    
	<label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <input type="submit" value="Submit">
    </form>
    <ul>
        <!-- This part displays flash messages from the route function -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </ul>
</body>
</html>
