<!DOCTYPE html>
<head>
    <title>Home Page - my blog</title>
</head>
<body>
    <h1>Enter User Information</h1>

    <!-- Create a form where users can enter their name, password, and email -->
	<form action="" method="POST" novalidate>
	<label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

	<label for="movie">Favorite Movie:</label>
        <input type="text" id="movie" name="movie" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

